n8n-workflows/braid-chat-workflow.json
{
  "name": "Braid AI Agent Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "braid-chat"
    },
    {
      "parameters": {
        "url": "https://braid-production.up.railway.app/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_type",
              "value": "={{ $json.agent_type || 'chat' }}"
            },
            {
              "name": "config",
              "value": "={{ { model: 'claude-4-sonnet-20250101', temperature: 0.7 } }}"
            },
            {
              "name": "tools",
              "value": "={{ $json.tools || [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-agent",
      "name": "Create Braid Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://braid-production.up.railway.app/agents/{{ $json.agent_id }}/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "={{ $('Create Braid Agent').item.json.agent_id }}"
            },
            {
              "name": "workflow_name",
              "value": "chat_response"
            },
            {
              "name": "input_data",
              "value": "={{ { message: $('Chat Webhook').item.json.body.message, user_id: $('Chat Webhook').item.json.body.user_id } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "execute-workflow",
      "name": "Execute Chat Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \n  status: 'success',\n  agent_id: $('Create Braid Agent').item.json.agent_id,\n  execution_id: $('Execute Chat Workflow').item.json.execution_id,\n  message: 'Chat workflow started successfully'\n} }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Create Braid Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Braid Agent": {
      "main": [
        [
          {
            "node": "Execute Chat Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Chat Workflow": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T21:23:21.000Z",
  "updatedAt": "2025-09-29T21:23:21.000Z",
  "settings": {
    "timezone": "America/New_York"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1"
}
